:root {
  --markColor: #FF90BC;
  --scoreBoardColor: #720455;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #030637;
  color: white;
  text-align: center;
  padding: 1rem;
}

.dice-container {
  background-color: #3c0753;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
  background-color: white;
  
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
  position: relative;
}


/*주사위 */
 .pip {
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  background-color: black;

  display: none;
}

/* 주사위 눈이 3개일 때 */
.dice-3 {
  gap: 1rem;
}
.dice-3 .pip:nth-child(1) {
  transform: translateY(2rem)
}
.dice-3 .pip:nth-child(3) {
  transform: translateY(-2rem);
}

/* 주사위 눈이 5개일 때 */
.dice-5 .pip:nth-child(5) {
  position: absolute;
}

.dice {
  animation: ;
}


/* 점수판 */
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 8rem;
  text-align: center;
  background-color: var(--scoreBoardColor);
  color: white;
}

div.player {
  padding: 1rem 2.5rem;
  border-radius: 40%;
}

h2 {
  margin-top: 1rem;
  font-size: 2rem;
}

.score {
  margin-top: 1rem;
  font-size: 5rem;
}

.vs {
  font-size: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 4rem;
  background-color: #910a67;
}

.during-game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  padding: 1rem 2rem;
  background-color: #fae7f3;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}