:root {
  --markColor: #FF90BC;
  --scoreBoardColor: #720455;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #030637;
  color: white;
  text-align: center;
  padding: 1rem;
}

.dice-container {
  background-color: #3c0753;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
  background-color: white;
}

.dice-1 {
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  background-color: black;
  margin: auto auto;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 8rem;
  text-align: center;
  background-color: var(--scoreBoardColor);
  color: white;
}

div.player {
  padding: 1rem 2.5rem;
  border-radius: 40%;
}

h2 {
  margin-top: 1rem;
  font-size: 2rem;
}

.score {
  margin-top: 1rem;
  font-size: 5rem;
}

.vs {
  font-size: 1.5rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  background-color: #910a67;
}

.during-game {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

button {
  padding: 1rem 2rem;
  background-color: #fae7f3;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* ===================== 주사위 굴리기 ============ 
        <div id="out_box">
          <div class="in_box">1</div>
          <div class="in_box">2</div>
          <div class="in_box">3</div>
          <div class="in_box">4</div>
          <div class="in_box">5</div>
          <div class="in_box">6</div>
        </div>

div.in_box {
  width: 100px;
  height: 100px;
  position: absolute;
}

#out_box {
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background-color: silver;
  transform-style: preserve-3d;
  animation: rotates 4s linear infinite;
}
  @keyframes rotates {
    0% {
      transform: rotateX(0) rotateY(0);
    }
    100% {
      transform: rotateX(360deg) rotateY(180deg);
    }
  }
.in_box {
  top: 0;
  left: 0;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
  transform-style: preserve-3d;
}

.in_box:nth-child(1) {
  transform: translateZ(50px) perspective(300px);
  background-color: pink;
}
.in_box:nth-child(2) {
  transform: translateZ(-50px) perspective(300px);
  background-color: skyblue;
}
.in_box:nth-child(3) {
  transform: translateX(50px) rotateY(90deg) perspective(300px);
  background-color: yellowgreen;
}
.in_box:nth-child(4) {
  transform: translateX(-50px) rotateY(90deg) perspective(300px);
  background-color: paleturquoise;
}
.in_box:nth-child(5) {
  transform: translateY(50px) rotateX(90deg) perspective(300px);
  background-color: snow;
}
.in_box:nth-child(6) {
  transform: translateY(-50px) rotateX(90deg) perspective(300px);
  background-color: ivory;
}

*/